* {
	margin: 0;
	padding: 0;
}

html, body{
	background-color:  #fcfcdf ;
}

h1, h2, .nav {
	font-family: 'Aubrey';
}


main {
	width: 90vw;
	text-align: left;
	margin: auto;
}

main a {
	text-decoration: none;
	color:  #000000;
}

p a {
	color: #9b1700;
}

figcaption a {
	color: #9b1700;
}




/*header*/

header {
	width:100%;
	height:320px;
	text-align: center;
	margin-bottom: 150px;
	background-image: url("img/optimizado/portada_mediana_opt.jpg");
	background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
	background-color: #9b1700;
	text-align: center;
}

.contheader {
	width:90%;
	margin: auto;
    padding-top: 5vh;
}

.contheader ul li {
	list-style: none;
}

.logoppal {
	margin: auto;
	height: 100px; 
	width:125px;
	background-color: #FFFFFF;
	clip-path: polygon(0 0%, 100% 0%, 94% 11%, 83% 11%, 83% 21%, 93% 21%, 93% 28%, 83% 28%, 92% 100%, 67% 100%, 
	67% 86%, 78% 86%, 71% 20%, 60% 20%, 60% 28%, 38% 28%, 38% 21%, 27% 21%, 20% 86%, 32% 86%, 32% 100%, 7% 100%, 15% 28%, 6% 28%, 6% 21%, 15% 21%, 15% 11%, 6% 11%);
	animation-duration: 1s;
	animation-timing-function: linear;
    animation-name: entrada;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
    -webkit-animation-name: entrada;
}

.logopresentacion a svg{
	animation: rueda 1.5s ease-out; 
}

#torianimada:hover{
	animation: pulsar 1.5s;
}

@keyframes pulsar{
  0%{
	transform: scale(1);
	transform-origin: center;
  }
  80%{
	transform: scale(1.3);
	transform-origin: center;
  }
  100%{
	transform: scale(1);
	transform-origin: center;
  }
}

@keyframes rueda{
  0%{
	transform: translate(-200px, 0px) rotate(0deg);
	opacity: 0;
}
    
  80%{
	transform: translate(50px, 0px) rotate(390deg);
	opacity: 0.8;
}    
  100%{
    transform: translate(0px, 0px) rotate(360deg);
	opacity: 1;
}
}

.encabezado {
	margin-top: 0px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 3rem;
	text-decoration: none;
	color: #fffefe;
}

.encabezado a {
	text-decoration: none;
	color: #fffefe;
}

.encabezado a:visited {
	text-decoration: none;
	color: #fffefe;
}

.pie_encabezado {
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	margin-top: 15px;
	color: #fffefe;
}

.nav {
	background-color:  #581c1c ;
	margin-top: 20px;
    padding-bottom: 15px;
	width:100%;
	height:100px;
	
}

.nav ul li {
	padding-top: 15px;
	font-weight: bold;
	font-size: 1.10rem;
	list-style: none;
}

.nav ul li a {
	color: #fffefe;
	text-decoration: none;
	border-bottom:none;
}

.nav ul li a:active {
	font-style: italic;
	color:  #ff0000;
}

@media screen and (min-width: 600px) {
	header {
		margin-bottom: 70px;
		height:240px;
		background-image: url("img/optimizado/portada_grande_opt.jpg");
		background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
	    text-align: center;
	}

	.contheader{
		width:60%;
		display: grid;
        grid-template-columns: 20% 60%;
        column-gap: 20%; 
		padding-top: 3vh;
	}

	.logocontenedorppal {
		margin-left: 8vw;
	}

	.logoppal {
		margin: auto;
		margin-top: 7vh;
		height: 100px; 
		width:120px;
		background-color: #FFFFFF;
		clip-path: polygon(0 0%, 100% 0%, 94% 11%, 83% 11%, 83% 21%, 93% 21%, 93% 28%, 83% 28%, 92% 100%, 67% 100%, 
		67% 86%, 78% 86%, 71% 20%, 60% 20%, 60% 28%, 38% 28%, 38% 21%, 27% 21%, 20% 86%, 32% 86%, 32% 100%, 7% 100%, 15% 28%, 6% 28%, 6% 21%, 15% 21%, 15% 11%, 6% 11%);
	}

	.encabezado{
		text-align: left;
		font-size: 4rem;
	}

	.pie_encabezado{
		text-align: left;
	}

    .nav {
		height:30px;
	}

	.nav ul li {
		display: inline-block;
		margin-right: 30px;
	}
}





/*main*/

h1 {
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.cocinero {
	width:100%;
	height:auto;
	margin-bottom: 20px;
}

.cocinero img {
	width:100%;
	height:auto;
}

/*¿quienes somos?*/

.sake {
	width:100%;
	height:auto;
	margin-bottom: 20px;
}

.sake img {
	width:100%;
	height:auto;
}


/*recetario*/

.recetas {
	width: 87vw;
	margin: auto;
	text-align: left;
}

.recetas div img {
	width: 100%;
	height: auto;
}


.recetas p {
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: 0vw;
	margin-right: 0vw;
}

.ramen,
.tonkatsu,
.takoyaki,
.yakitori {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

h2 {
	font-size: 1.6rem;
	font-weight: 400;
}


/*recetas*/

.ramen,
.tonkatsu,
.takoyaki,
.yakitori  {
	width:100%;
	margin-bottom: 20px;
}

.ramen a,
.tonkatsu a,
.takoyaki a,
.yakitori a  {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

.ramen a:hover,
.tonkatsu a:hover,
.takoyaki a:hover,
.yakitori a:hover  {
	opacity: 0.8;
}

.ramen img {
	width:100%;
	height: auto;
}

.tonkatsu img {
	width:100%;
	height:auto;
}

.takoyaki img {
	width:100%;
	height:auto;
}

.yakitori img {
	width:100%;
	height:auto;
}


.siguiente {
	text-align: right;
}


@media screen and (min-width: 600px) {

/*nuevo*/

main {
	width: 65vw;
	text-align: center;
}
	
	h1 {
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.cocinero, 
.sake, 
.ramen,
.tonkatsu,
.takoyaki,
.yakitori  {
	width:100%;
	height:auto;
	margin-bottom: 20px;
}

.cocinero img {
	width:60%;
	height:auto;
}

.sake img {
	width:60%;
	height:auto;
}

.ramen img {
	width:60%;
	height:auto;
}

.tonkatsu img {
	width:60%;
	height:auto;
}

.takoyaki img {
	width:60%;
	height:auto;
}

.yakitori img {
	width:60%;
	height:auto;
}

main ul {
	text-align: left;
}

main ul li {
	margin-left: 50px;
	margin-bottom: 10px;
}

lite-youtube {
	margin: auto;
	margin-bottom: 20px;
	width: 632px;
	height: 355px;
}
		
	.recetas {
		width: 100%;
		margin: auto;
	    display: grid;
     	grid-template-columns: 45% 45%;
  	    column-gap: 10%;
    }
	
	div img {
    object-fit: cover;
    }
	
	h2 {
	    font-size: 1.4rem;
	    font-weight: 400;
    }

}






/*footer*/

footer {
	width:100%;
	height:280px;
	color: #fffefe;
	background-color:  #581c1c ;
    font-size: 0.80rem;	 
    margin-top: 100px;	
}

.footlogoppal {
	width: 50vw;
	margin: auto;
}

.logosvgppal {
	padding-top: 3vh;
	text-align: center;
}

.footlogoppal ul {
	text-align: center;
	margin-top: 2vh;
}

.footlogoppal ul li{
	font-size: 1rem;
	font-weight: bold;
    list-style:none;
}
	
.pie,
.subir	{
    margin-left: 10px;	
    margin-right: 10px;	
}
	
.pie {
	text-align: center;
	padding-top: 20px;
	font-size: 0.70rem;
	}

.subir {
	text-align: right;
    font-size: 1.5rem;	
    margin-top: 0px;
    padding-bottom: 1vh;
	margin-bottom: 0;	
	font-size: 1rem;	
	}

footer a {
	color: #fffefe;
    text-decoration:none;	
}


@media screen and (min-width: 600px) {
	
	footer {
	  width:100%;
	  height:130px;
	  display: grid;
      grid-template-columns: 40% 20%;
      column-gap: 40%; 
	}

	.footlogoppal{
		display: grid;
		grid-template-columns: 45% 45%;
		column-gap: 10%;
	}

	.footlogoppal ul {
		text-align: left;
		margin-top: 4vh;
	}

	.logosvgppal {
		text-align: right;
	}
	
	.pie {
		text-align: left;
	}
	
	.subir {
		margin-top: 5px;		
	}
}

/*portada*/

.portada {
	width:100%;
	height:100vh;
	color: white;
	text-align: center;
	background-image: url("img/optimizado/portada_mediana_opt.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-color: #9b1700;
}

.logocontenedor {
	padding-top: 2vh;
	height: 110px;
}

.logo {
	margin: auto;
	padding-top: 0vh;
	height: 100px; 
	width:125px;
	background-color: #FFFFFF;
	clip-path: polygon(0 0%, 100% 0%, 94% 11%, 83% 11%, 83% 21%, 93% 21%, 93% 28%, 83% 28%, 92% 100%, 67% 100%, 
	67% 86%, 78% 86%, 71% 20%, 60% 20%, 60% 28%, 38% 28%, 38% 21%, 27% 21%, 20% 86%, 32% 86%, 32% 100%, 7% 100%, 15% 28%, 6% 28%, 6% 21%, 15% 21%, 15% 11%, 6% 11%);
}

.headerportada {
	width:100%;
	height:60vh;
	text-align: center;
	margin-bottom: 0px;
	background-image: none;
	text-align: center;
}

.encabezadoportada {
	margin-top: 0px;
	padding-top: 2vh;
	font-weight: bold;
	font-size: 3rem;
	text-decoration: none;
	color: #fffefe;
}

.encabezadoportada a {
	text-decoration: none;
	color: #fffefe;
}

.encabezadoportada a:visited {
	text-decoration: none;
	color: #fffefe;
}

.pie_encabezadoportada {
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fffefe;
}

.navportada {
	background-color:  none;
	margin-top: 2vh;
	padding-bottom: 0px;
	width:100%;
	height:50px;
	
}

.navportada ul li {
	padding-top: 15px;
	font-weight: bold;
	font-size: 1.10rem;
	list-style: none;
}

.navportada ul li a {
	color: #fffefe;
	text-decoration: none;
	border-bottom:none;
}

.navportada ul li a:active {
	font-style: italic;
	color:  #ff0000;
}

.mainportada {
	width:100%;
  height:22vh;
}

.mainportada h1 {
	padding-top: 0;
	padding-right: 2vw;
	padding-left: 2vw;
	margin-bottom: 0;
}

.mainportada p {
	padding-right: 5vw;
	padding-left: 5vw;
	margin-bottom: 0;
	padding-top: 1vh;
}


.footerportada {
  width:100%;
  height:18vh;
  background-color: none;
  margin-top: 0px;
  padding-top: 0;
}

.logosvg {
	padding-top: 1vh;
}

.pieportada {
	text-align: center;
}

.pieportada p{
	padding-top: 0.5vh;
	margin-bottom: 0px;
}

@media screen and (min-width: 600px) {

	.headerportada {
		height:70vh;
		background-image: url("img/optimizado/portada_grande_opt.jpg");
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    background-position: center center;
	}
	
	.encabezadoportada {
		padding-top: 0;
		font-size: 5rem;
		margin-bottom: 0;
	}

	.logocontenedor {
		padding-top: 3vh;
		height: 165px;
	}
	
	.logo {
		height: 160px; 
		width:200px;
	}
	
	.pportada {
		padding-top: 2vh;
	}

	.navportada ul li {
		display: inline-block;
	    margin-right: 30px;
	}
	
	.navportada {
		margin-top: 0px;
	}

	.mainportada {
	  height:15vh;
	  padding-top: 0;
	}

	.mainportada h1 {
		margin-bottom: 2vh;
		padding-top: 0;
	  }

	.footerportada {
		width:100%;
		height:15vh;
		background-color: none;
		margin-top: 0px;
	  }
	
	.pieportada {
	    padding-top: 2vh;
	}

	.logosvg {
		padding-top: 2vh;
	}

}

/*animaciones*/

@keyframes entrada {
	0% {
	  transform: rotate(0deg);
	  opacity: 0;
	}

	100% {
	  transform: rotate(360deg);
	  opacity: 1;
	}
  }

  @-webkit-keyframes entrada {
	0% {
		transform: rotate(0deg);
		opacity: 0;
	  }
  
	  100% {
		transform: rotate(360deg);
		opacity: 1;
	  }
	}
	@font-face {
		font-family: 'Aubrey';
		font-display: fallback;
		src: local('Aubrey'), url(https://fonts.gstatic.com/s/aubrey/v15/q5uGsou7NPBw-p7fvQlt.woff2) format('woff2');
	  }
	